<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="static/styles.css" />
      </head>
    <body>
        <div class="container active">
            <span class="overlay" id="percent"><a href="static/IMG_20240215_101104-protected" download="">Download File</a></span>
          </div>
      
          <script>
            const container = document.querySelector(".container"),
              percent = document.querySelector("#percent");
          </script>
</html>