<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Q1</title>
        <body>
            <h1>QUESTION 1</h1>
            <form method="post" action="{{url_for('q1', tn=tn)}}">
                <label for="ans">What color is the sky?</label>
                <input type="text" id="ans" name="ans" required>
                <input type="submit" value="Submit">
            </form>
        </body>
    </head>
</html>