<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Q3</title>
    </head>
    <body>
        {% for key,value in sb.items() %}
        {% if key==tn %}
        {% if value==2 %}
        <li>passed</li>
        {% else %}
        <li>failed</li>
        {% endif %}
        {% endif %}
        {% endfor %}
        <h1>Q3</h1>
        <h3>Decipher this audio</h3>
        <a href="/static/audio.wav" download="audio.wav">Download Audio</a>
        <form id="q3Form" method="post" action="{{url_for('q3', tn=tn)}}">
            <label for="ans3">solution?</label>
            <input type="text" id="ans3" name="ans3" required>
            <input type="submit" value="Submit">
        </form>
        <div id="timer">30</div>
        <script>
            var timeleft = 30;
            var downloadTimer = setInterval(function(){
                document.getElementById("timer").innerHTML = timeleft;
                timeleft -= 1;
                if(timeleft <= 0){
                    clearInterval(downloadTimer);
                    document.getElementById("ans3").value = "NA"; // Set answer to "NA"
                    document.getElementById("submitBtn").click(); // Automatically submit the form
                }
            }, 1000);
        </script>
    </body>
</html>