<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Q3</title>
    </head>
    <body>
        {% for key,value in sb.items() %}
        {% if key==tn %}
        {% if value==75 %}
        <h3 style="color: green;">PREVIOUS QUESTION WAS ANSWERED CORRECTLY</h3>
        {% else %}
        <h3 style="color: red;">PREVIOUS QUESTION WAS ANSWERED INCORRECTLY</h3>
        {% endif %}
        {% endif %}
        {% endfor %}
        <h2>Find me if you dare:
            Cryptor0007
        </h2>
        <h3>Input the answer is this format:
            BlitzKriegCTF{your_answer}
        </h3>
        <form id="q6Form" method="post" action="{{url_for('q6', tn=tn)}}">
            <label for="ans6">Whats my name?</label>
            <input type="text" id="ans6" name="ans6" required>
            <input type="submit" value="Submit">
        </form>
        <script>
            var timeleft = 900;
            var downloadTimer = setInterval(function(){
                document.getElementById("timer").innerHTML = timeleft;
                timeleft -= 1;
                if(timeleft <= 0){
                    clearInterval(downloadTimer);
                    document.getElementById("ans6").value = "NA"; // Set answer to "NA"
                    document.getElementById("submitBtn").click(); // Automatically submit the form
                }
            }, 1000);
        </script>
    </body>
</html>