<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rank</title>
    </head>
    <body>
        <h1>Ranking</h1>
        <h2>Qualified</h2>
        {% for key,value in tndq.items() %}
        <li>{{key}} : {{value}}</li>
        {% endfor %}
        <h2>Disqualified</h2>
        {% for key,value in tndd.items() %}
        <li>{{key}} : {{value}}</li>
        {% endfor %}
    </body>
</html>