<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waiting Room</title>
</head>
<body>
    <h1>Waiting Room</h1>
    <ul id="ansd3id">
        {% for x in ansd3 %}
        <li>{{x}}</li>
        {% endfor %}
    </ul>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);
    
        socket.on('sansd3', function(data) {
            var ansd3 = document.getElementById('ansd3id');
            ansd3.innerHTML = '';
            for (var tn in data.ansd3id) {
                var listItem = document.createElement('li');
                listItem.textContent = tn + ': ' + data.ansd3id[tn];
                ansd3.appendChild(listItem);
            }
            if (Object.keys(data.ansd3id).length == 2) {
                window.location.reload(true);
            }
        });

    </script>
    
</body>
</html>
